[2019-07-12 12:19] ArsenyYankovsky opened #4 "Add documentation"

[2019-07-12 12:20] ArsenyYankovsky opened #5 "Implement transaction handling"

[2019-07-21 01:01] ArsenyYankovsky commented on #5
I implemented transaction handling, however I will still keep this issue opened until https://github.com/jeremydaly/data-api-client/pull/6 gets merged

[2019-07-21 17:47] #4 closed

[2019-08-03 14:50] craig006 opened #7 "Any tips on how to get this set up?"
Hey, thanks for writing this. I'm sure its going to be a hit with all serverless projects.

I'm trying to get is set up? I assume I need to npm install the typeorm branch with support for this driver as well? How do I do that?

 I tried with

[code]

but that fails with:
[code]

[2019-08-05 01:23] ArsenyYankovsky commented on #7
Hey,

I tried installing it like you did and got that error. The reason is that I think you can't just pull typeorm from GitHub, you need to build it as well.

As a side note, I think that it's better to push for the PR (https://github.com/typeorm/typeorm/pull/4375) to be merged and wait until then with a setup.

However, if you absolutely want to start using this project right now it can be done.

[2019-08-05 06:38] craig006 commented on #7
Thanks for the info, appreciate it. I have replied on that PR as well any ideas what it will take to get it merged? :)

It will still take a wile for my project to go live. But right now I'm jumping through VPC hoops to get to my RDS instance and its complicating my life. If I understand right data api will allow me to access RDS from outside the VPC?

Anyways, thought I would start testing the ch

[2019-08-05 06:43] ArsenyYankovsky commented on #7
Hopefully we can get it merged ASAP, the PR as I see it is ready, just need the maintainers to take another look and merge it.
As for VPC the answer is yes you don't need to be on a VPC to use the Data API. So it solves both the connections and VPC-related cold start issues.

[2019-08-13 11:28] ArsenyYankovsky commented on #7
Closing as the PR is merged into typeorm and it will be available with the next release.

[2019-08-13 11:28] #7 closed

[2019-08-13 11:32] ArsenyYankovsky opened #8 "Pass extra configuration options into RDS client"
Potentially this will allow to run nightly build and pause the db when needed.

[2019-09-16 16:33] craig006 opened #10 "npm install not working?"
Hi,

Glad to see typeorm has been release with the PR for this.

I'm running into an issue that I'm not sure how to overcome. I installed this driver in my project and got a test Lambda up and running. The lambda produces this error:

[code]

After inspecting my node_modules directory I can see `typeorm-aurora-data-api-driver` in there but with no code inside? I would have expected a `bin` folder

[2019-09-16 21:20] ArsenyYankovsky commented on #10
My bad, should be fixed with 1.1.3
Will make the nightly build to run against latest released version

[2019-09-16 21:20] #10 closed

[2019-09-17 13:51] TreeMan360 opened #12 "Notice of a potential bug"
Hey,

I am fairly confident I have found a bug as I have seen this issue crop up now in two different scenarios. When running against my local mysql docker instance I have no issues but when running against Aurora Serverless MySql I have encountered the error:

```"'param_1'' is an invalid type"```

(well, param_X)

This is my log:
[code]

I am going to have to try and find some time to reproduce

[2019-09-17 19:42] TreeMan360 commented on #12
Looking at your code I have no idea how this is happening I must say

[2019-09-17 20:32] ArsenyYankovsky commented on #12
@TreeMan360 could you please check if it still occurs with 1.1.5? I reworked the query transformation there.

[2019-09-18 11:10] TreeMan360 commented on #12
@ArsenyYankovsky Thanks for the quick response. Unfortunately I confirm I have the same issue with 1.1.6.

[2019-09-18 11:18] ArsenyYankovsky commented on #12
@TreeMan360 If you could please provide a reproducible example that would be much easier to figure out. I'm in a process of migrating a big project to use the driver so I could hopefully reproduce it myself. I'm also not sure the query you originally posted. It has two `IN` clauses but one of the parameters in an array and the other is a string. Is that correct?

[2019-09-18 12:55] TreeMan360 commented on #12
I will try and reproduce this in an example this evening so we get get to the bottom of this.

[2019-09-18 15:50] TreeMan360 commented on #12
In a much simpler scenario with no transaction and a straighforward query:

[code]

As you can see the two parameters are the wrong way around here. I will knock up an actual project with an executable example tonight but thought I would drop this in here incase any lightbulbs go off :)

[2019-09-18 16:05] TreeMan360 commented on #12
Is it because:

const quoteCharacters = ['\'', '"']

Needs a backtick?

[2019-09-18 16:27] ArsenyYankovsky commented on #12
@TreeMan360 There seems to be several issues going on. Firstly, an array is not a supported type right now by a Data API itself. Secondly, I'm experiencing same thing with the date strings, so I'm looking into that.

[2019-09-18 16:47] ArsenyYankovsky commented on #12
@TreeMan360 Working on fixing the Date type which is not supported currently.

[2019-09-18 16:49] TreeMan360 commented on #12
😎 thanks so much for the support on this. Great work!

[2019-09-18 17:56] ArsenyYankovsky commented on #12
@TreeMan360 1.1.7 released with a fix. Let me know if I can close the issue.

[2019-09-18 17:59] TreeMan360 commented on #12
Will check now

[2019-09-18 18:45] TreeMan360 commented on #12
Ok so this is a little strange hence the delay.

When the update query executes now I receive no errors at all but it does not update the field and the query in my log looks the same. So it effectively now doesn't do anything :)

The select query still throws a parameter error as before.

At this point would you like me to try and put a test project together for you? I could attempt a PR but I can

[2019-09-18 19:40] ArsenyYankovsky commented on #12
Ideal for me would be a branch with a failing test. I think the param error could be reproduced as a unit test. The update sounds weird, could you try to reproduce it with a functional test.

[2019-09-19 10:45] TreeMan360 commented on #12
Hey, now looking at this. Do you run your own circle CI server and then always run your functional tests in that environment so you can access your serverless instance via its secretArn and resourceArn?

I have limited experience with CircleCI and I don't want to change the code so it works from my local machine if that's not aligned with your workflow.

[2019-09-19 11:07] ArsenyYankovsky commented on #12
Yes, I'm running it on CircleCI server that has the environment variables to access the db set up.

[2019-09-19 11:41] ArsenyYankovsky commented on #12
@TreeMan360 Got it reproduced, will see how I can fix that.

[2019-09-19 12:19] TreeMan360 commented on #12
OK thanks. I am having issues running the functional tests in CircleCI.

It connects to the database fine. I have my environment variables set correctly and a database created with the correct name.

The first ```SELECT 1``` test works and the database wake up call now occurs very quickly so that's definitely working.

I have been trying to work out why I am receiving ```'no database selected'```f

[2019-09-19 12:47] ArsenyYankovsky commented on #12
@TreeMan360 the misplaced parameters issue is coming from typeorm itself. Since the AuroraDataApiDriver is not an instance of MysqlDriver a lot of the query fixes are not applied. Right now I'm trying to fix that and I will submit a PR when I'm ready. Your build is probably set to use my fork of typeorm so that's why you might get these errors.

[2019-09-19 13:09] ArsenyYankovsky commented on #12
@TreeMan360 I've submitted the PR to TypeORM https://github.com/typeorm/typeorm/pull/4779. Unfortunately, we'll have to wait for the PR to be merged and a new TypeORM version released for it to work. In the meantime you can try to use my fork of TypeORM to work.

[2019-09-19 13:26] TreeMan360 commented on #12
@ArsenyYankovsky wow those instanceof checks are hacktastic. Nice work. I will use your fork buddy. If I find anything else I will create w failing test.

Many Thanks!

[2019-09-19 13:30] TreeMan360 commented on #12
Would you mind pushing your changes into your TypeORM fork please?

[2019-09-19 13:46] ArsenyYankovsky commented on #12
@TreeMan360 No problem. I would expect there's more things that are broken so the more the earlier we find now the better. Thanks.

[2019-09-19 15:05] TreeMan360 commented on #12
@ArsenyYankovsky JFYI the update query is now working as expected but the original select query I reported is not. I will find time to create a failing test.

[2019-09-19 16:00] ArsenyYankovsky commented on #12
@TreeMan360 does the select give you an invalid type error or is the order of parameters wrong?

[2019-09-19 16:59] TreeMan360 commented on #12
@ArsenyYankovsky Invalid type. I will look to create a test case for this.

[2019-09-19 17:04] ArsenyYankovsky commented on #12
I think that's because you're trying to pass an array as a parameter which is currently not supporter by the Data API. Not sure we can do much here.

[2019-09-19 17:28] TreeMan360 commented on #12
@ArsenyYankovsky yeah it’s odd actually as I don’t give TypeORM an array it’s doing that internally. I will investigate this tonight and report back.

[2019-09-20 12:05] TreeMan360 commented on #12
I believe I have fixed this, please see PR:

https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/pull/17

[2019-09-22 10:33] TreeMan360 commented on #12
Just a confirmation that with ```1.1.8``` and your ```fix-update typeorm``` branch all my scenarios now work perfectly.

Looking forward to https://github.com/typeorm/typeorm/pull/4779 getting merged into a release.

Thanks for your help @ArsenyYankovsky, much appreciated.

[2019-09-22 10:33] #12 closed

[2019-09-30 01:45] jcouser opened #19 "Likely a simple configuration error"
After installing via npm and attempting to set the type according to the readme, typeorm throws a typescript error with an unknown type `aurora-data-api`.

`TS2322: Type '"aurora-data-api"' is not assignable to type`

Any tips adding the driver as an acceptable type to typeorm?

[2019-09-30 15:27] jcouser commented on #19
My apologies I was one release back of typeORM where this connection type isn't available.  It was added in 0.2.19.

[2019-09-30 15:27] #19 closed

[2019-10-06 11:03] pontusab opened #20 "Aws RDS postgress serverless"
Nice lib! Getting an error like this:

[code]

How come `timestamptz`is not supported?

[2019-10-09 12:57] pontusab commented on #20
I guess we need to add AuroraDataApiDriver where PostgresDriver is used too in TypeORM

[2019-10-13 20:47] ArsenyYankovsky commented on #20
This driver only works for the MySQL right now. I guess there should be a special parameter to handle the Postgres as well in the future.

[2019-10-13 20:47] #20 closed

[2019-10-14 12:39] pontusab commented on #20
Ok. I will fix that then

[2019-10-16 06:08] yoongfook opened #21 "Sync/Migrations?"
Firstly - thank you so much for your work on this.
Does this support synchronization and migrations? If not, whats your workflow of performing these? eg. creating / dropping tables

[2019-10-17 01:49] #21 closed

[2019-10-23 13:54] idhard opened #22 "ERROR: syntax error at or near ".""
Hello , thanks for the driver ;)

i'm facing a parsing error when trying to query to aurora postgresql serverless :

ERROR: syntax error at or near "."

the query is :

[code]
if i replace "`" by " " " seems to execute correctly, in my test, but not sure how to make it work generally , any help would be welcome

thanks

[2019-10-28 19:40] ArsenyYankovsky commented on #22
Hello, I haven't really tested the driver against postgres because the use case I started it for was for MySQL. So, currently the postgres is not supported.

It's a bit of work to make it work for postgres and requires changes in the TypeORM project itself. I can't promise any timeframe, but I will take a look at it.

[2019-10-29 09:26] idhard commented on #22
hey , yes i reached same conclusion the driver only works for mysql, i have been playing around with it and at least managed to successfully connect to my db although when doing queries the format is incorrect.
Let me know if i can help you somehow

[2019-11-05 21:40] ArsenyYankovsky commented on #12
@goors Could you please provide a reproducible code for that? Also make sure you're using latest versions.

[2019-11-07 09:13] goors commented on #12
@ArsenyYankovsky after doing the update to latest typeorm (0.2.20) that param thing is ok now. With 0.2.19, or any smaller version there is that issue with params in the wrong order.

[2019-11-07 10:37] TreeMan360 commented on #12
@ArsenyYankovsky does 0.2.20 include the update-fix branch?

[2019-11-08 16:06] ArsenyYankovsky commented on #12
@TreeMan360 sorry for the late response, yes it's merged into latest typeorm so you can use that instead of forked version.

[2019-11-13 10:47] elmpp opened #23 "Visibility into `data-api-client` package"
Thanks for making this available. Was so pleased I'd chosen an ORM when investigating using aurora serverless!

I see that the actual db client package is contained in another package (https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/blob/master/package.json#L104)

As this would be a potentially sensitive part of the the project, I'd far prefer to get some visibility into here. Is

[2019-11-13 11:06] elmpp commented on #23
Can see it's here - https://github.com/ArsenyYankovsky/data-api-client  😊

[2019-11-13 11:06] #23 closed

[2019-11-19 22:44] elderapo opened #24 "aws-sdk as dependency"
I think `aws-sdk` should be added as `dependency` and not `devDependency`.

[2019-11-21 11:51] benseitz commented on #5
@ArsenyYankovsky jeremydaly/data-api-client#6  just got merged :)

[2019-11-23 03:11] ArsenyYankovsky commented on #24
Any particular reason it can be useful? Lambda runtime automatically provides you with aws-sdk, so adding it as a dependency will increase the size of the bundle without any benefit.

[2019-11-26 16:59] elderapo commented on #24
When I tried to use this package from [now](https://zeit.co/download) it complained about lack of `aws-sdk`. But I guess that is the problem in `data-api-client` and not this package.

[2019-11-26 17:09] ArsenyYankovsky commented on #24
@elderapo  What kind of complaint was that? Runtime or compile time?

[2019-11-26 17:17] elderapo commented on #24
Runtime.

[2019-11-26 17:19] TreeMan360 commented on #24
@elderapo That's very strange. ```Zeit now``` uses lambda so it should without doubt have the ```aws-sdk``` available at runtime.

What builder are you using? Are you say using ```nextjs``` in ```serverless``` deploy mode?

[2019-11-26 17:24] elderapo commented on #24
I already moved to something different (don't have code that caused this error anymore) but I believe it happened in development `now dev`.

[2019-11-26 17:26] TreeMan360 commented on #24
Ok cool, ```now dev``` should still work as the ```aws-sdk``` should still be found in your ```node_modules``` I believe. Either way this evidently is off topic for this package.

[2019-11-26 17:27] #24 closed

[2019-12-06 10:21] LoicMahieu commented on #5
Hi!

I had errors related to transactions when making multiple UPDATE or CREATE.
I don't use transaction directly in my code.
Two differents errors are thrown randomly:

[code]
or

[code]

Pressed by the time, I ended by `patch-packages`:

[code]

And the errors are gone.

I'll take time ASAP for taking it seriously. If you have any advice, I'm interested.

[2019-12-06 10:29] ArsenyYankovsky commented on #5
@LoicMahieu Could you please give a reproducible code so that I can take a look at it? Thanks.

[2019-12-17 23:58] mpvosseller commented on #22
I ran into the same issue. In my case I got the below error. Adding support for postgres would be great.

[code]

[2019-12-21 20:14] goors commented on #21
As far as I can see `synchronize` does not work, Is there someone with this issue as well?

[2020-01-17 14:44] LoicMahieu commented on #5
Hi @ArsenyYankovsky
I can't replicate in development. In seems to be an "environment" issue... I don't know. (We run in Lambda)

I receive a lot of theses errors in Sentry. It appears randomly, I couldn't replicate it myself but my some of my users received this error.
Breadcrumbs from Sentry looks like:
<img width="811" alt="Capture d’écran 2020-01-17 à 15 42 30" src="https://user-images.github

[2020-01-17 14:57] TreeMan360 commented on #5
@LoicMahieu although not directly related to your issue. I use transactions in production and have seen no such errors in my logs. I however use https://www.npmjs.com/package/typeorm-transactional-cls-hooked. I path the BaseRepository as described in the docs which works fine for me and makes it a non invasive integration - just add decorators on your root such as a command or service.

[2020-01-17 14:59] TreeMan360 commented on #5
@LoicMahieu also in development are you hitting a cloud database or a local database instance?

[2020-01-21 00:01] rudieros commented on #22
Getting the same as @mpvosseller
+1 for postgres support

[2020-01-26 02:57] ArsenyYankovsky commented on #5
@LoicMahieu I took a look at what could be the reason for an error like that. The code in the TypeORM seems to guard against starting a transaction on a connection twice. We create a new instance of the driver for each connection, and the `transactionId `is stored inside it. I can't really see the reason for that to happen.

If you'd like I'll add additional logs including `transactionId` and some

[2020-02-09 01:55] darbio commented on #21
I also have this issue. Not sure how to run migrations and synchronize through the data api.

[2020-02-09 08:31] TreeMan360 commented on #21
I use migrations without any issues. I do however locally run against MySQL running in a docker container and I generate my migrations against that and then I just use the data API in a deployed scenario where the migrations are executed.

[2020-02-09 13:15] ArsenyYankovsky commented on #21
We are also using synchronize inside the functional tests without any issues. If you could provide a reproducible scenario I'll gladly take a look at it.

[2020-02-28 17:15] mpvosseller opened #27 "Depends on an (out of date) fork of data-api-client"
I noticed this project [depends](https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/blob/d1e3e3ddcac8469284e5bd42e485b53f3ef79182/package.json#L104
) on a [fork](https://github.com/ArsenyYankovsky/data-api-client) of data-api-client instead of the [original project](https://github.com/jeremydaly/data-api-client) and is now out of date. Any reason not to just depend on the original p

[2020-02-28 17:21] ArsenyYankovsky commented on #27
We can't switch to the original project until https://github.com/jeremydaly/data-api-client/pull/20 is merged or the original project starts supporting the date type. I can update my fork if something is missing.

[2020-02-28 18:10] mpvosseller commented on #27
Ah, I see. Bummer. Thanks.

[2020-02-28 18:10] #27 closed

[2020-03-03 20:03] ArsenyYankovsky opened #28 "Postgres Support"
I've started working on a Postgres support for the driver. I managed to get basic queries to work, but most of the tests fail currently. Currently the issue is the date string conversion. I've created a thread on AWS forums [here](https://forums.aws.amazon.com/thread.jspa?threadID=318094).

I will push the branch later.

I also found that the cold start is much better with Postgres (under 10 secon

[2020-03-03 20:04] ArsenyYankovsky commented on #22
I'm going to track the Postgres work [here](https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/issues/28)

[2020-03-03 20:04] #22 closed

[2020-03-03 20:12] idhard commented on #28
I think you will not be able to support PotgreSQL until [this](https://github.com/jeremydaly/data-api-client/issues/27) is solved

[2020-03-03 20:23] ArsenyYankovsky commented on #28
I saw that one and wanted to see how far I can go without hitting that wall. Seems like I'm facing the issue number 2.

Not sure if it could be solved that easily, but I can try to get the types since the driver is specifically written for the ORM.

I'm going to make the code look nicer and setup CI. Give me a couple of days and I'll push the work on progress branch so we can collaborate on that.

[2020-03-08 17:05] ArsenyYankovsky commented on #5
@LoicMahieu I actually encountered an error like that while using this driver in production. In our case we were using one connection for doing a bunch of queries in parallel. The hack that worked for us was to create a 'connection' for each of the queries. We'll need to come up with a proper fix for this in a driver though.

[2020-03-09 21:13] ArsenyYankovsky commented on #28
I've pushed my changes into the [postgres](https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/tree/postgres) branch. I've also created a PR in the [TypeORM repo here](https://github.com/typeorm/typeorm/pull/5651).

The postgres driver is currently a POC stage. To fix dates/timestamps in queries I added type hints. All the basic functional tests are working with the postgres version

[2020-03-22 19:10] filipsuk commented on #28
@ArsenyYankovsky I would like to test this for you. How do I install this version as it is not merged yet? tried `npm install ArsenyYankovsky/typeorm#data-api-pg` without any luck

[2020-03-23 10:59] pzmudzinski opened #30 "Support for env variables"
Does this driver support passing configuration options via env variables?

e.g. `TYPEORM_SECRET_ARN`

[2020-03-23 15:15] cklam2 commented on #30
There is an example in 'test/functional/utils/create-connection.ts', [line 12](https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/blob/d1e3e3ddcac8469284e5bd42e485b53f3ef79182/test/functional/utils/create-connection.ts#L12)

[2020-03-23 18:43] #30 closed

[2020-03-23 18:43] #8 closed

[2020-03-24 18:45] pzmudzinski commented on #30
I know you can pass them manually in `createConnection`, but what if you want to run migrations against RDS database? Will ARNs be picked from env vars or ormconfig.json?

[2020-03-24 22:35] cklam2 commented on #30
Can switch to the [javascript](https://github.com/typeorm/typeorm/blob/master/docs/using-ormconfig.md#using-ormconfigjs) version of ormconfig for dynamic vars.

[2020-03-25 21:41] ArsenyYankovsky commented on #28
@filipsuk Please take a look at how it's done on the CI in the `.circleci` file. Basically, you'll need to checkout and build the typeorm and link it to your project.

[2020-05-04 08:23] drissamri opened #34 "Enable override endpoint URL for local development against Docker koxudaxi/local-data-api"
It would be awesome if it was possible to give a endpoint URL so you can use this package to connect to a local-data-api in Docker like https://github.com/koxudaxi/local-data-api

We use docker-compose with that docker image for local development purposes but we haven't found a way to connect to it using TypeORM and this driver. Any help is appreciated!

[2020-05-04 09:28] ArsenyYankovsky commented on #34
@drissamri Could you try passing `endpoint` in the `serviceConfigOptions` property of your connection properties? Something like that:

[code]

[2020-05-05 23:39] nathanagez commented on #28
Hi @ArsenyYankovsky, I would love to contribute to this project and help you ! What can I do ?

[2020-05-17 21:05] ArsenyYankovsky commented on #28
@nathanagez Thank you, currently the postgres support is released in version 1.3.0 of the driver. The PR in the TypeORM repo was merged, but it's yet to be released.
If you could test the TypeORM master version and 1.3.0 driver in more use cases so we can find bugs earlier that would be perfect.

In general, it would also be nice to run tests against [local-data-api](https://github.com/koxudaxi/lo

[2020-05-21 22:40] KidA001 commented on #20
@pontusab has PSQL support been added?

[2020-05-21 23:01] ArsenyYankovsky commented on #20
@KidA001 Postgres support is tracked [here](https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/issues/28)

[2020-05-27 16:18] filipsuk opened #37 "formatDate() in data-api-client depends on system timezone"
I had a problem with inserting values with the `timestamp` mysql data type. Javascript Date object `2020-05-28T03:56:48.466Z` was being transformed to `"2020-05-28 05:56:48"`. (I am in UTC+2 timezone. Server uses UTC, however I encountered this issue during local development.)

Then I tried running the script with
[code]

and `2020-05-28T03:56:48.466Z` was correctly transformed to `"2020-05-28 03:

[2020-05-30 07:35] ArsenyYankovsky commented on #37
@filipsuk Makes sense, will fix.
I also think it's a temporary fix and in the end it's better to switch to a non-forked version of the `data-api-client` once https://github.com/jeremydaly/data-api-client/pull/44/files is merged.

[2020-05-30 11:16] ArsenyYankovsky commented on #37
Ok, I tested the proposed fix and generally it should work as expected. My tests used `datetime` type before which I assume was the cause of the issue.
I tried using `timestamp` type instead and indeed has reproduced the issue. However, I cannot make it convert to the js Date object, getting a string back instead. Looking at the TypeORM code it seems like the conversion is not needed when getting

[2020-05-30 18:52] ArsenyYankovsky commented on #28
I'm happy to announce that Postgres support was released with the latest TypeORM release (0.2.25).
I haven't tested it beyond the tests in this project though, so please report anything that's not working for you.

[2020-05-30 18:52] #28 closed

[2020-06-09 14:07] filipsuk commented on #28
Hey @ArsenyYankovsky, not sure where to post this, but I am testing this feature in real environment and probably found a bug.

How to reproduce:
1. Create entity containing column with `uuid` type.
[code]
2. Try to perform `schema:log` cli command

Following error occurs:
[code]

I tried to debug this and it seems to be a problem with the `afterConnect` which works with pool and tries to add some

[2020-06-26 20:41] abd1tus opened #39 "aurora-data-api-pg crashes with @PrimaryGeneratedColumn('uuid')"
When an entity has uuid as a primary column

either:
[code]

or:
[code]

then the following:
[code]

fails with:
[code]

Removing the 'uuid' allows createConnection to succeed.

If I use:
[code]
with 'uuid' then createConnection also succeeds.

[2020-07-10 13:15] filipsuk commented on #37
@ArsenyYankovsky Hey, sorry for the delay. I switched to using aurora postgres and recently came to the issue you are talking about. When reading an entity with `timestamptz` column type (or probably any other datetime type), the column is returned as a string.

It seems this has been newly implemented and released here https://github.com/jeremydaly/data-api-client/issues/28

Is there anything pre

[2020-07-10 14:55] ArsenyYankovsky commented on #37
I'll definitely check it out and let you know. I don't immediately see any issues with it, but I'll run some tests and if everything go well publish a new version.

[2020-07-10 14:57] ArsenyYankovsky commented on #39
Hey, sorry for a late response. I think the reason for this lies within TypeORM. I will check it and let you know what's going on.

[2020-07-13 20:35] ArsenyYankovsky commented on #39
Found a reason for it, will hopefully be able to submit a PR to the TypeORM tomorrow.

[2020-07-13 20:48] ArsenyYankovsky commented on #37
1.3.3 with non-forked data-api-client has been released

[2020-07-13 20:48] #37 closed

[2020-07-14 07:58] filipsuk commented on #37
Thank you so much @ArsenyYankovsky 👍. I will give it a try.

[2020-07-14 21:51] ArsenyYankovsky commented on #39
@abd1tus
The PR is submitted here https://github.com/typeorm/typeorm/pull/6404

[2020-07-17 09:34] matiishyn opened #43 "How to manage typeORM connection of Aurora Serverless data api inside Lambda using Serverless Framework"
Hi @ArsenyYankovsky, I know this is not an issue, but I've been searching for many hours, maybe you have an idea

So, I'm using:
- Aurora Serverless Data API (Postgres)
- TypeORM with [typeorm-aurora-data-api-driver][1]
- AWS Lambda with Serverless framework (TypeScript, WebPack)

I'm connecting to the db like it's described in github,
[code]

And this is how I use it inside of my Lambda function

[2020-07-17 10:15] TreeMan360 commented on #43
Hey,

When the lambda runs the second time it is reusing the instance so the lambda is warm.  This means that is trying to create the connection again.

You need to cache the connection outside of the handler, something along the lines of this:

[code]

[2020-07-22 21:14] ArsenyYankovsky commented on #39
The PR is merged, but you will need to wait for a new TypeORM release. Another option is to build the TypeORM yourself from a master branch.

[2020-07-22 21:14] #39 closed

[2020-07-27 13:17] ArsenyYankovsky commented on #43
I think @TreeMan360 covered it pretty good.

[2020-07-27 13:17] #43 closed

[2020-07-28 12:19] filipsuk opened #44 "Postgres enum values"
It seems that enum values when using postgres are not supported. Maybe even the Data API does not support enums in stringValue parameters (I just asked AWS about this).

Similar problem with jsonb type: https://github.com/jeremydaly/data-api-client/issues/34

**Workaround**:

I managed to get enums working by wrapping the value in a function (which tells typeorm to pass it as raw - so it avoids pa

[2020-07-28 13:01] ArsenyYankovsky commented on #44
I don't think the driver gets any metadata from entities about the type of query parameters and you're able to run raw queries through TypeORM so I don't think there's a generic solution for this. There might be some kind of workaround though that can be used. I'll take a look at it when I have time and let you know if it's possible to fix it.

[2020-07-29 15:45] rudieros commented on #28
@filipsuk did you ever find a solution for this?

[2020-08-02 16:10] nimrodkor commented on #44
Would love this feature too @ArsenyYankovsky

[2020-08-04 14:39] MarZab commented on #34
The above example works, I had trouble with `Error: connect EHOSTDOWN 169.254.169.254:80 - Missing credentials in config, if using AWS_CONFIG_FILE, set AWS_SDK_LOAD_CONFIG=1`

Seems the AWS Handler requires the accessKeyId to be set, even if it's not using them - so the simple fix for local development:
[code]

[2020-08-04 18:43] ArsenyYankovsky commented on #34
This will be fixed with the new TypeORM release.

[2020-08-16 01:57] m-p-d commented on #5
@ArsenyYankovsky I'm seeing exactly the same errors as @LoicMahieu originally posted in this thread. Making multiple concurrent calls that execute database writes result in these errors every time:

```MissingRequiredParameter: Missing required key 'transactionId' in params```

or

```Transaction AV2vr/ys8mbQJ29i/RwpOHZRX4a7rYXq1p7QqBk/tWj8mtDlk70PFPb+zhffD8Do/fK0+6oVgHKJGV8J0QE8Ce1xGAbTk+WWPpWhR7

[2020-09-02 13:25] metalcamp commented on #28
My hack was to generate uuid in app layer and use regular text field instead of uuid until I get more clear picture of the whole project and am able to open a PR. Very far from ideal, but it works at the moment.

[2020-09-02 16:01] filipsuk commented on #44
Looks like they are trying to solve the enum problem here https://github.com/jeremydaly/data-api-client/issues/27 but no output yet 😞  I still use have to use raw queries.

[2020-09-03 18:50] ffxsam opened #45 "Do we need to use connection.close()?"
First off, thank you for creating this! It's a massive help.

I was wondering if we need to do `await connection.close()` as we normally would with socket connections. Or does it have no effect?

[2020-09-03 19:04] ArsenyYankovsky commented on #45
Thank you.
You don't really need to, but you can call `connection.close()` to delete the client object just to free some memory. If you reuse a connection between invocations (assuming you are using lambda) you probably shouldn't do it.
From a database point of view it doesn't matter if you call `connection.close()` or not since there is no real connection.

[2020-09-03 21:31] ffxsam commented on #45
Got it. Thanks!

[2020-09-03 21:31] #45 closed

[2020-09-03 22:27] ffxsam commented on #44
Several field types do not work properly, including `uuid`, `jsonb`, `money`, etc.

Reference: https://github.com/typeorm/typeorm/issues/6667

[2020-09-04 00:29] ffxsam commented on #44
I just learned a cool trick. You can get around these type issues in TypeORM by setting values as functions that return a raw value. E.g.:

[code]

And then:

[code]

[2020-09-04 00:30] ffxsam commented on #44
Even if `data-api-client` could be passed column type information, TypeORM doesn't seem to pass any info about entities/classes to its drivers, so I don't know if this issue will ever be resolved neatly.

[2020-09-16 16:50] tylergets opened #47 "Performance benchmarks"
Hey thank for you the world on this project, looks awesome.

I was wondering if you have performed any benchmarks of this driver versus a default postgres connection w/ pooling, or if AWS has said anything about the data api performance.

Would be happy to assist if not!

[2020-09-24 08:40] filipsuk commented on #44
also a problem for postgres `date` type (date without time)

[2020-09-25 10:43] harm-less commented on #44
It's not pretty, but it does the job. I added UUID support in the driver for my own purposes:
https://github.com/harm-less/typeorm-aurora-data-api-driver

Basically what I did is checking every parameter to see if it's a UUID or not. If it is, it will cast it otherwise it does what it does by default:
[code]

I also needed to make sure I was using `data-api-client` that included this PR from @ffxs

[2020-09-25 10:45] harm-less commented on #44
@filipsuk Did you see this documentation? Perhaps that could help you:
https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/data-api.html#data-api.calling

But it looks like your date requires casting as well.

[2020-10-01 19:01] jimsorock commented on #5
@ArsenyYankovsky any update for a proper fix? Also is there any information we can provide?

[2020-10-03 12:31] #34 closed

[2020-10-04 17:25] ArsenyYankovsky commented on #5
I found a root cause for this. Unfortunately, the issue lies in the TypeORM part of the code. I will submit a PR in the next couple of days.

[2020-10-04 17:26] ArsenyYankovsky commented on #47
Hello, haven't tried anything like that, but it would be really nice to see how it fares against default connection. Especially when there's a lot of parallel lambdas calling the database.

[2020-10-08 17:35] ArsenyYankovsky commented on #5
I've submitted a PR with a fix [here](https://github.com/typeorm/typeorm/pull/6869).

[2020-10-10 13:30] revmischa commented on #44
Having this problem as well, trying to use custom enum types in postgres and it needs the bind value cast to the type, even though it's just a "string"

[2020-10-11 11:26] Dizzzmas opened #48 "Inserting into tables with uuid as the key type"
So I have a FK column with `uuid` type.

And when I'm trying to do:
[code]

I'm getting this:
[code]

Trying to rewrite it using `createQueryBuilder` and casts at the moment.

[2020-10-16 13:26] jgomes94 opened #49 "Question: Does this support the migrations out of the box?"
I tried to the best of my ability find documentation regarding schema migrations, however, couldn't find any information regarding it.

Does this lib supports schema migrations supported by typeorm? Is there any documentation?

[2020-10-16 18:10] ArsenyYankovsky commented on #49
@jgomes94 Yes, every functionality of TypeORM should work, including migrations. Please create an issue if something doesn't work for you.

[2020-10-16 18:10] #49 closed

[2020-10-17 18:48] artem123sh opened #51 "Question: is Date type supported for Postgresql?"
Hello,
First of all, thanks a lot for the library, I haven't seen anything like typeorm-aurora-data-api-driver with support for Aurora Serverless PostgreSQL. Thanks for working hard and implementing this solution.

I have a question regarding Date type. I've tried to setup a model with type: Date but received the following error:

`@Column({ type: 'date', nullable: true })`
`date: string;`

I trie

[2020-10-20 10:22] bart opened #52 "Creating connection extremely slow"
Hey everyone, first of all I want to thank you for this plugin that makes it possible to use Aurora Serverless with Serverless Lambdas - well done! I created a connection manager to handle connections and was wondering about some unusual long Lambda execution times. Reason seems to be creation of an initial data API connection which takes more than 6 seconds. Because Lambdas are stateless EACH Lam

[2020-10-20 19:04] bart commented on #52
Just want to give a quick update: Looks like the reason is NOT the package itself. Tested it with Sequelize c/o Fyreware/mysql-data-api package which gave a similar result. Reason seems to be the initial Aurora Data API itself so I'll close this issue.

[2020-10-20 19:04] #52 closed

[2020-11-08 11:38] ablankenship10 commented on #52
Hi @bart I'm noticing the same issue, were you able to find a solution?

[2020-11-08 14:10] bart commented on #52
@ablankenship10 The only way to solve this was to put all routes into a single catch-all function so that you only have one function at all. This setup will "cache" your connection so when you keep it warm it won't need to start from cold anymore. This setup felt more like a workaround to me so I ended up switching from Aurora to DynamoDB.

[2020-11-08 21:17] ablankenship10 commented on #52
Hmm that's disappointing. Thats odd it would even need to "connect" at all using the data-api. I'm also working completely locally with the docker image from https://github.com/koxudaxi/local-data-api/ so there should be no actual spin up time..

[2020-11-08 21:54] bart commented on #52
On my local machine it was blazing fast. But as soon as I tested it on AWS startup speed took about 20 to 25 seconds

[2020-12-03 09:31] YouDonggeun opened #55 "need data-api-client's continueAfterTimeout for options"
when timeout my transaction it need to run

[2020-12-07 02:58] #55 closed

[2020-12-07 03:06] YouDonggeun commented on #55
i 'll added some PR

[2020-12-07 04:59] mlg87 commented on #48
@Dizzzmas did you ever figure this out? in the process of migrating our dbs to aurora serverless and this just started showing up
[code]
i assume it's the same issue youre running into as all of the queries work when run with a local db

[2020-12-07 06:00] mlg87 opened #57 "Is this driver (perhaps data-api-client) unable to handle uuid?"
ive been trying to track down an answer to my issue all day. when running a simple query (looking up a user by id for instance) i am getting this error:
![image](https://user-images.githubusercontent.com/10038207/101314919-cd50e980-3816-11eb-81db-e8cda8bff6fd.png)
i just looked at the [aws js sdk docs](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/RDSDataService.html#executeStatement-pro

[2020-12-19 10:12] otoivainen commented on #5
Now that this is merged, any chances of finalizing this @ArsenyYankovsky ? Would be really good

[2020-12-20 17:50] ArsenyYankovsky commented on #44
Good news, everyone!

I actually found a way of fixing this and https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/issues/51 and the data type issues in general. I'm really sorry I haven't checked this more in-depth earlier.

If you look at the PostgresDriver  in the TypeORM repository you'll see two methods: [preparePersistentValue](https://github.com/typeorm/typeorm/blob/f27622daf

[2020-12-21 08:59] revmischa commented on #44
Would it be useful to add more type hints to https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/RDSDataService.html#batchExecuteStatement-property ?

[2020-12-21 16:20] ffxsam commented on #44
Not sure if this helps anyone, but we just updated the [Data API Client](https://github.com/jeremydaly/data-api-client) to support casting. [Details here](https://github.com/jeremydaly/data-api-client#type-casting).

[2021-01-13 18:39] m-p-d commented on #5
Looks like the TypeORM fix submitted was released yesterday in TypeORM 0.2.30 🥳

[2021-01-15 19:05] filipsuk commented on #44
@ArsenyYankovsky I tried your solution within preparePersistentValue and prepareHydratedValue and I think it only helps with persisting enum values but does not help when querying them (e.g. using in `find()` `where` condition).. but i am sure some similar edit in typeorm source would solve query issue as well but we just have to find it 🤯

for find conditions we are using typeorm's `Raw()` `FindO

[2021-01-18 17:13] spolom commented on #10
While researching TypoORM with AWS' Data API, I ran into the bellow error (simple serverless lambda w/ TypeScript). typeorm-aurora-data-api-driver is not present in the zipped lambda sources.

I am not sure whether it is related to this closed issue or a configuration error on my side.

`2021-01-18T16:41:16.410Z	e18a07b9-31ab-4496-a75b-43f7e30f991b	ERROR	Invoke Error
{
    "errorType": "Error",

[2021-01-19 10:51] spolom opened #59 "typeorm-aurora-data-api-driver not present in zipped lambda sources"
While researching TypoORM with AWS' Data API, I ran into the bellow error (simple serverless lambda w/ TypeScript). typeorm-aurora-data-api-driver is not present in the zipped lambda sources.

I am not sure whether it is related to this closed issue or a configuration error on my side.

[code]

This is the webpack config:

[code]

I'd appreciate any hint.

[2021-01-19 11:08] spolom commented on #59
Could this be related to https://gitmemory.com/issue/typeorm/typeorm/4788/542529802?

[2021-01-19 11:47] spolom commented on #59
`import 'typeorm-aurora-data-api-driver';` in the handler allows webpack to package the sources correctly.

[2021-01-19 11:47] #59 closed

[2021-01-25 22:47] wisaac407 commented on #44
Any updates on this?

[2021-01-29 17:36] seawatts commented on #44
It looks like this might solve the issue. I'm going to look into how we can use this in this library today.

[2021-01-29 17:41] ffxsam commented on #44
@seawatts Cool, let me know if there's anything else we can do to help get TypeORM working with the RDS Data API!

[2021-01-29 18:20] seawatts commented on #44
@ffxsam I'm not familiar with the workings of any of these libraries so it will take me a while to understand them. However, at first glance it looks like this might need to be a change upstream in the TypeORM library

[2021-01-29 18:36] ffxsam commented on #44
In my earlier comment:
https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/issues/44#issuecomment-686831789

I noted that TypeORM wasn't internally passing type info to its drivers, so yeah, changes would have to be made to TypeORM in order for this to work properly.

[2021-01-29 19:28] seawatts commented on #44
Ah right, I missed that comment. Dang, I don't think I have the cycles for that level of effort currently. We should probably open an issue up on their repo.

[2021-03-09 02:29] SethVerishop commented on #5
@ArsenyYankovsky do you feel the typeorm changes resolve the issue? We are using 0.2.31 but noticing a large amount of 'Transaction ... is not found' errors even just a few seconds after creating/starting a transaction on a queryRunner and then trying any query on the queryRunner. I suspect that there may be an issue still in how the transactionId is handled between queries

[2021-03-10 10:00] ricardoduncan opened #60 "Does the TypeORM driver support running TypeORM schema migrations against Aurora Serverless"
I can see that the driver supports querying Aurora Serverless. I have a need to run TypeORM schema migrations against an Aurora Serverless Postgress database using the AWS Data API from a ci server e.g. gitlab.

Is there a way to do that with this driver?

[2021-03-15 19:14] ArsenyYankovsky commented on #60
Yes, this should work just fine. Let me know if you have any issues.

[2021-03-15 19:14] #60 closed

[2021-03-18 00:25] andrestone opened #61 "Does this driver support ActiveRecord pattern without calling `useConnection`?"
TypeORM connections can be consumed as global scope objects like so:

[code]

When using this driver, the above code throws this error:
`ConnectionNotFoundError: Connection "default" was not found.`

While using native typeorm connection to postgresql it works.

Using this driver it also works when calling the `useConnection` method on the entity like so:

[code]

[2021-03-20 17:32] carlocorradini commented on #57
Any update on this issue? 😪

[2021-03-20 17:48] carlocorradini commented on #61
See <https://medium.com/safara-engineering/wiring-up-typeorm-with-serverless-5cc29a18824f>

It explain how to use (and reuse) TypeORM connection in a serverless environment.

I am currently using "the pattern" without any particular issues.

Here is my code:
[code]

And use it in the handler:

[code]

If you want to obtain the connection:
[code]

PS: In addition you can customize the connection op

[2021-03-20 18:07] carlocorradini opened #62 "timestamptz"
I have several columns that use *timestamptz*, however TypeORM (or the driver or AWS - I really don't know) returns the value without the *'Z'* that represents the correct timezone. The value is treated as a *string* type and not as a *Date* type (normal behaviour) due to (I guess) parsing problems.

**PLEASE SEE [this issue](https://github.com/koxudaxi/local-data-api/issues/106#issuecomment-80339

[2021-03-20 18:22] ArsenyYankovsky commented on #57
I'm currently working on a fix for this and enum issues, also that will fix how the Data API driver handles date/time-related columns.
I'm planning to submit a PR to the TypeORM repository and release a new version of the driver early next week . We will have to wait until the PR is merged into TypeORM and TypeORM is released, of course. Until then you will be able to work around the issue by usin

[2021-03-20 18:31] carlocorradini commented on #57
WOW!!! Thanks @ArsenyYankovsky 🤩🤩🤩🤩

[2021-03-21 13:10] ArsenyYankovsky commented on #48
I've submitted a PR fixing this to the TypeORM repository [here](https://github.com/typeorm/typeorm/pull/7483) and released a new 2.0.0 version of the driver.

While we're waiting for the TypeORM pull request to be merged and a new release, you can use [my fork of TypeORM](https://github.com/ArsenyYankovsky/typeorm), branch `data-api-prepare-hydrate`.

[2021-03-21 13:11] ArsenyYankovsky commented on #57
I've submitted a PR fixing this to the TypeORM repository [here](https://github.com/typeorm/typeorm/pull/7483) and released a new 2.0.0 version of the driver.

While we're waiting for the TypeORM pull request to be merged and a new release, you can use [my fork of TypeORM](https://github.com/ArsenyYankovsky/typeorm), branch `data-api-prepare-hydrate`.

[2021-03-21 13:11] ArsenyYankovsky commented on #51
I've submitted a PR fixing this to the TypeORM repository [here](https://github.com/typeorm/typeorm/pull/7483) and released a new 2.0.0 version of the driver.

While we're waiting for the TypeORM pull request to be merged and a new release, you can use [my fork of TypeORM](https://github.com/ArsenyYankovsky/typeorm), branch `data-api-prepare-hydrate`.

[2021-03-21 13:11] ArsenyYankovsky commented on #44
I've submitted a PR fixing this to the TypeORM repository [here](https://github.com/typeorm/typeorm/pull/7483) and released a new 2.0.0 version of the driver.

While we're waiting for the TypeORM pull request to be merged and a new release, you can use [my fork of TypeORM](https://github.com/ArsenyYankovsky/typeorm), branch `data-api-prepare-hydrate`.

[2021-03-22 17:20] carlocorradini commented on #57
I'm having problems with your fork since the Typescript files are not compiled and when trying to run ```npm run compile``` it fails. Can you please provide us with the "compiled" directory so we can directly copy and paste it using you fork without any compilation?
Thanks in advance! 🎊

[2021-03-22 18:16] ArsenyYankovsky commented on #57
@carlocorradini Please try "git://github.com/ArsenyYankovsky/typeorm.git#data-api-prepare-hydrate-packaged"

[2021-03-22 18:44] carlocorradini commented on #57
@ArsenyYankovsky I cannot find the branch :(

[2021-03-22 19:58] carlocorradini commented on #62
I have tried with the new version (2.0.0) and typeorm fork.

However ```timestamptz``` is treated as a ```string```.

I'm doing my tests with [local-data-api](https://github.com/koxudaxi/local-data-api).

![immagine_2021-03-22_205558](https://user-images.githubusercontent.com/21266147/112050313-00fb1980-8b51-11eb-8fba-f72bfd21ee80.png)

Have you any idea how to solve this? Thanks! 🎉🎊🎉🎊✨

[2021-03-22 21:21] ArsenyYankovsky commented on #62
@carlocorradini Could you please add a simple test case and create a PR? I'll take a look at it later this week.

[2021-03-22 21:24] carlocorradini commented on #62
Clone <https://github.com/carlocorradini/local-data-api-issue>

Run ```npm install```

Rub ```npm test```

[2021-03-22 21:28] carlocorradini commented on #62
Can you try the script on a real simple test aurora database?

[2021-03-22 22:54] ArsenyYankovsky commented on #62
That looks good enough, thanks. Will take a look tomorrow or a day after. I think it's going to be a pretty simple fix.

[2021-03-23 22:16] ArsenyYankovsky commented on #62
@carlocorradini I just released a version 2.0.1 with a fix. There's also a new test case for this.

[2021-03-24 09:23] carlocorradini commented on #62
Now it's working! Thanks✨🎉!!!

I've a different problem... now with ```timestamp``` that I want to share (<https://github.com/carlocorradini/local-data-api-issue> has been updated if you want to try).

The value of a `timestamp` column retrieved using data-api is different from the one retrieved using direct postgres connection. The difference resides in the time (timezone ????).

I don't know if

[2021-03-24 09:27] carlocorradini opened #67 "Deprecated as of 10.7.0. highlight(lang, code, ...args) has been deprecated."
[code]

[2021-03-24 19:45] #47 closed

[2021-03-24 19:48] ArsenyYankovsky commented on #5
@SethVerishop I'm not sure if I can reproduce this issue. I have [a test case](https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/blob/f788412d9db5fb928228d9647ff22d693703d3c5/test/functional/pg/basic/simple-queries.pg-func.test.ts#L72) for this and it seems to work for me now. I'd be happy to fix it if you could provide a reproducible scenario or a test case.

[2021-03-24 20:01] ArsenyYankovsky commented on #67
Should be fixed in 2.0.2

[2021-03-24 20:01] #67 closed

[2021-03-24 20:03] ArsenyYankovsky commented on #62
@carlocorradini I released a new version 2.0.2 in which the timestamptz is handled in the same manner as TypeORM Postgres driver handles it. It would be nice to have more test cases regarding date/time types.

[2021-03-25 10:16] carlocorradini commented on #62
Thanks for your help.

Now I'm receiving the error with timestamptz where the time is shifted.
[code]

PS: I'm still receiving the deprecation notice of highlight:
[code]

[2021-03-25 10:29] koxudaxi commented on #62
I add a comment

DataAPI always returns Timestamptz as UTC timezone without timezone format.

https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/data-api.html

[2021-03-25 11:32] ArsenyYankovsky commented on #62
The warning is coming from the TypeORM code, so nothing I can do there.
The timestamptz timezone is remove so the original code was correct it seems. You can still use the 2.0.1 then to get a correct result.
I will make proper fixes and add test cases based on data api documentation later this week when I have time.

[2021-03-25 13:58] carlocorradini commented on #62
Thanks for your help.
Unfortunately I cannot directly test on a real Aurora Database so your help is really precious!

[2021-03-25 13:58] carlocorradini commented on #62
Thanks again @ArsenyYankovsky !!!!!!!

[2021-03-28 13:30] ArsenyYankovsky commented on #57
@carlocorradini 2.0.3 was released with fixes. I also added test cases and everything should work just fine. The only caveat is that Data API destroys and timezone information always returning date/time columns in UTC.

[2021-04-01 21:33] davingreen commented on #44
Even with your branch of typeorm and running v2.0.3, I'm seeing an error: `column "status" is of type "channel-message-text_status_enum" but expression is of type character varying`

Code if it's helpful:
[code]

Is there a workaround? Thanks!

[2021-04-01 21:48] davingreen commented on #44
I was able to get around it by removing the enum type:
[code]

[2021-04-01 23:23] seawatts commented on #44
Yeah that works, but then the db doesn't create the column as an enum 😔

[2021-04-02 10:31] ArsenyYankovsky commented on #44
@seawatts @davingreen I just released a driver with a fix for this (2.0.4). You also don't have to use my fork anymore since new TypeORM 0.3.32 was released. Feel free to comment here or open a new issue if something doesn't work.

[2021-04-02 10:31] #44 closed

[2021-04-02 10:31] ArsenyYankovsky commented on #62
You don't have to use my fork anymore since new TypeORM 0.3.32 was released. Feel free to comment here or open a new issue if something doesn't work.

[2021-04-02 10:31] #62 closed

[2021-04-02 10:31] ArsenyYankovsky commented on #57
You don't have to use my fork anymore since new TypeORM 0.3.32 was released. Feel free to comment here or open a new issue if something doesn't work.

[2021-04-02 10:31] #57 closed

[2021-04-02 10:31] ArsenyYankovsky commented on #51
You don't have to use my fork anymore since new TypeORM 0.3.32 was released. Feel free to comment here or open a new issue if something doesn't work.

[2021-04-02 10:31] #51 closed

[2021-04-02 10:31] ArsenyYankovsky commented on #48
You don't have to use my fork anymore since new TypeORM 0.3.32 was released. Feel free to comment here or open a new issue if something doesn't work.

[2021-04-02 10:31] #48 closed

[2021-04-07 11:34] Cyberuben opened #72 "Casting of values causes query errors"
Hi,

We're using this package to connect to our Aurora serverless database cluster. For testing, we use a local Postgres database and everything works fine. The `transformParameters` in the `PostgresQueryTransformer` incorrectly assumes that our string (which is a valid UUID) should be cast to type `uuid`. The column we're querying is in fact a `character varying` (regular string) as it does not o

[2021-04-12 00:45] seawatts commented on #72
Any progress here?

[2021-04-12 06:33] josephktcheung commented on #72
I hit the same issue like what @Cyberuben had on UUID automatic casting. From https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/blob/b6b1ff112a3540277711590e45743af265f138d3/src/query-transformer/postgres-query-transformer.ts#L172-L178 we use regex to check if a parameter is a UUID-like.

Besides, https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver#automatic-casting s

[2021-04-12 08:40] ArsenyYankovsky commented on #72
Sorry for taking a long time to respond.
I will fix the `json` thing later today or tomorrow.
The UUID hack was put in place to make TypeORM work with UUID primary keys in entities in very simple scenarios. Unfortunately, it doesn't call `preparePersistentValues` to transform a primary key in the Repository.

You can force casting for a parameter like this:

[code]
I will add this to the documenta

[2021-04-12 16:05] seawatts commented on #72
Thanks for the quick turnaround @ArsenyYankovsky!

I haven't looked much at the code, but would there be a way to define the cast type on the entity level, in the column decorator, or something? Instead of having to cast it on every single query?

[2021-04-12 16:20] ArsenyYankovsky commented on #72
I cannot reproduce the `json` part of the issue. Perhaps you could provide a test case or a code example?
Also I added documentation on the parameter casting [here](https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver#parameter-casting).

Casting parameters automatically based on the entity metadata should be possible, but I'm not sure about the amount of changes required in the TypeO

[2021-04-12 20:45] seawatts commented on #72
Okay, thanks for the information. The only problem remaining for me is that it's trying to auto-cast UUID and I have so many queries all over my app it would be very difficult to replace them all to turn off the autocast. I also have ENUMS though that I do want to auto cast. I'm in a tricky situation lol

[2021-04-12 21:46] Cyberuben commented on #72
@ArsenyYankovsky thanks for the response. I'll see if I can reproduce the JSON issue. It only occurred after I was trying to work around the UUID situation and a coworker upgraded the version from 0.2.31 to 0.2.32, so it might have been fixed in that version or it was something on our end.

[2021-04-13 04:17] seawatts commented on #72
@Cyberuben did you find a workaround for the UUID issue?

[2021-04-13 04:34] josephktcheung commented on #72
@seawatts here's how I workaround it

[code]

[2021-04-13 04:51] seawatts commented on #72
Ah ha, thanks for sharing! I'll have to go update my entire codebase to do that. Which is less than ideal. I'm going to hold off to see if there is a better solution.

[2021-04-15 23:46] davingreen opened #74 "date.getUTCFullYear is not a function"
[code]

When trying to update:
[code]
using
[code]

[2021-04-19 14:42] LoicMahieu opened #75 "Incompatibility with mysql 5.6"
Hi,

Since the upgrade from `0.2.26` to `0.2.32`, we have an error when trying to insert a `simple-json` field.
See theses logs:
- Query:
[code]
- Error:
[code]

I think it's related to commit https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/commit/22729297fa20815acb4351c2bee2d4baf9c10c58 where the value transformed before being persisted.

Is there a word around to rollback to th

[2021-04-19 22:13] sporkspatula commented on #44
@ArsenyYankovsky I am using both 2.0.4 driver and 0.2.32 typeorm and running into the same problem with a default enum. Does your fix work for defaults?

[2021-04-20 20:49] davingreen commented on #74
I resolved this by transforming the scheduledToSendAt to date from a string. Apparently, the data api driver causes an issue with TypeORM's automatic casting of date strings to dates (maybe?)

Anyway, I've got a workaround -- thanks!

[2021-04-20 20:49] #74 closed

[2021-04-20 22:41] ArsenyYankovsky commented on #75
Hi, setting `formatOptions.castParameters` to `false` should revert to the old behavior. I'll add tests for the `simple-json` type for MySQL when I get a chance and provide a proper fix. Thanks for reporting.

[2021-04-23 21:30] ArsenyYankovsky commented on #75
@LoicMahieu Hey, I released a new version of the driver (2.0.6) with a fix for the `simple-json` columns.

[2021-04-24 00:14] ArsenyYankovsky commented on #72
@seawatts I decided to remove the UUID hack as it does more harm than good. It is removed in the 2.1.0 version of the driver.

[2021-04-24 00:15] #72 closed

[2021-04-24 00:15] #75 closed

[2021-04-24 00:27] seawatts commented on #72
Wow thanks @ArsenyYankovsky! I'll try it out soon and let you know. If this works I'll be able to finally set up my serverless DB in prod 😁🚀 you're the man!

[2021-04-26 16:07] LoicMahieu commented on #75
Hi @ArsenyYankovsky
Thank you a lot for your responses! And sorry to be so late for mine, I was busy for other things ;)

Great! I updated
[code]

And I works well. Thanks !

[2021-05-05 02:26] tautologistics commented on #44
Using typeorm@0.2.32 and typeorm-aurora-data-api-driver@2.1.0 against Aurora Serverless PG via the AWS Data API and not seeing ENUMs being cast when SELECTing records using the respository find methods. Was expecting `AuroraDataApiPostgresDriver.preparePersistentValue` to be called but after tracing, it is not.

Any suggestions? Trying to make a minimal reproducable case...

[2021-05-05 15:57] tautologistics opened #80 "AWS Data API (PG) Enum Casting Issue"
**Package versions and database engine type (please complete the following information):**
 - Database Engine: postgres
 - TypeORM Version: 0.2.32
 - Driver Version [e.g. 2.1.0]

**Describe the bug**
Entities that have `enum` column types cause errors when trying to query the database where the enum column is in the `WHERE` criteria. The error is caused because the enum column criteria value is no

[2021-05-06 14:11] andrestone opened #81 ""ERROR: operator does not exist: uuid = character varying""
**Package versions and database engine type (please complete the following information):**
 - Database Engine: postgres
 - TypeORM Version: 0.2.32
 - Driver Version 2.1.0

**Describe the bug**
Code below makes an invalid request to DataApi
[code]

[code]

Probably introduced by #77.

[2021-05-06 15:15] daverickdunn commented on #81
I've spent half my day trying to figure this out... 😭

[2021-05-06 15:29] ArsenyYankovsky commented on #81
We currently cannot automatically cast parameters. Please try to use explicit casting as described [here](https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver#parameter-casting)

[2021-05-06 15:31] ArsenyYankovsky commented on #80
We currently cannot automatically cast parameters. Please try to use explicit casting as described [here](https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver#parameter-casting)

[2021-05-06 15:36] ArsenyYankovsky commented on #44
Until we fix the code in TypeORM it will not work because `preparePersistentValue` isn't called for the default.
I guess the only way is to try to work around with following:

[code]

I'm not 100% sure it will work though.

[2021-05-06 15:37] daverickdunn commented on #81
Was going to suggest a regex solution, but I can see that's what you had previously. What was the issue that caused you to remove it?

[2021-05-07 02:08] tautologistics commented on #80
Thank you! Completely missed the explicit cast ability in the docs.

This solves my immediately problem but it is worth noting for whomever else runs into this, that the explicit casting doesn't seem to work when using TypeORM's `In()`.

Regardless, thanks for all the effort you've put into this driver; it is very much appreciated.

[2021-05-09 13:31] lielran opened #82 "support of continueAfterTimeout param"
`continueAfterTimeout` is supported by AWS Aurora Data Api as well as https://github.com/jeremydaly/data-api-client.

I saw this issue (and PR) but ti was closed without any workaround or impl
https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/issues/55

[2021-05-09 14:51] ArsenyYankovsky commented on #82
@lielran Have you tried passing this option in the `serviceConfigOptions`?

[2021-05-09 15:09] lielran commented on #82
from the docs in the data-api-client
it seems like a param on the query level and not on the connection level.
I've tried to pass it with `true` and others but failed to do so.

can you provide a sample that works for you?

[2021-05-09 16:51] ArsenyYankovsky commented on #82
Yes, you're correct.
What would be a preferred solution here? Perhaps make it a connection parameter and apply on each query?

[2021-05-10 06:10] lielran commented on #82
Both sounds great actaully. usally it more of query level since the connection can be resue to other usecases.

can you point me to the areas that you think it should be impl?

[2021-05-10 21:24] clalexander opened #83 "Cannot save null values: Cannot convert undefined or null to object"
## Issue
Cannot save null values to mysql database.  Null query parameter values fail to map correctly in `normalizeParams`, resulting in `TypeError: Cannot convert undefined or null to object`

### Stack Trace
[code]

### Steps to Reproduce

1. Save an entity with a field that has a null value.

### Package versions and database engine type:
 - Database Engine: [mysql 5.7]
 - TypeORM Version: [0.

[2021-05-17 12:05] muaaztkxel opened #85 "ERROR: operator does not exist: uuid = character varying Or ERROR: column "mediaType" is of type medias_mediatype_enum but expression is of type character varying"
I am using
 - Node [14]
 - Server-less [2.41.1]
 - Database Engine: [aws-aurora-postgres]
 - TypeORM Version: [0.2.32]
 - Driver Version [2.1.0]

I am getting this error "**ERROR: operator does not exist: uuid = character varying**"  When i try to find a record or try to save the record. If I downgrade the driver to "2.0.0" i dont get this error but then i started getting errors abount enum type c

[2021-05-25 04:25] shaheerizharReal opened #86 "BadRequestException: FATAL: password authentication failed for user "masteruser""
**Package versions and database engine type (please complete the following information):**
 - Database Engine: [postgres]
 - TypeORM Version: [0.2.32]
 - Driver Version [2.1.0]

Whenever i try to execute any typeorm query i get this error. "BadRequestException: FATAL: password authentication failed for user "masteruser" from aws-sdk
code breaks at  user = await userRepo.findOne({ email });
![scree

[2021-05-25 17:32] seawatts commented on #80
I'm still seeing this issue as well with the new auto casting

[2021-05-25 20:15] ArnaudDutant commented on #83
Hi,
I'm wondering if I've had the same bug or if it's just me doing things wrong (I'm new to typeorm and the aurora data api driver).

I have a one to one relationship between two tables. In a simplified version:
`@Entity()
export class UserEntity {
    @PrimaryColumn()
    email: string;

    @OneToOne(() => RefreshTokenEntity, refreshToken => refreshToken.user, {nullable: true})
    @JoinColumn(

[2021-05-27 18:41] clalexander commented on #83
@ArnaudDutant Looks to be the same error to me.

[2021-05-29 12:46] ArsenyYankovsky commented on #85
Please take a look at the [parameter casting here](https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver#parameter-casting)

[2021-05-29 12:46] #85 closed

[2021-05-29 12:54] ArsenyYankovsky commented on #83
Should be fixed in 2.1.1, please let me know if you have more issues with it.

[2021-05-29 12:57] ArsenyYankovsky commented on #81
Yes, I think it's a bad idea to implicitly cast something for a user they cannot opt-out from. However, @seawatts is working on a different solution that will allow us to automatically cast parameters based on the knowledge of the entity.

[2021-05-29 12:58] ArsenyYankovsky commented on #86
Please make sure that you can connect to your database cluster using credentials from the secret.

[2021-05-29 12:58] #86 closed

[2021-05-29 13:06] ArsenyYankovsky commented on #5
I'm going to close this issue until we have a reproducible case indicating there's an issue.

[2021-05-29 13:06] #5 closed

[2021-06-02 08:12] seawatts opened #90 "Support AWS XRay"
Depending on how we can get this setup in the `data-api-client` library it would be nice to be able to enable this feature here as well.

You can find the docs for wrapping AWS clients here: https://www.npmjs.com/package/aws-xray-sdk-core#user-content-capture-all-outgoing-aws-requests

https://github.com/jeremydaly/data-api-client/issues/93

[2021-06-09 12:28] feroz-shamsi commented on #85
When this will work like normal typeorm ?
parameter casting doesn't work everywhere.
for now we are using query Builder everywhere but that's slowing us down in development.

**my question is when this will be integrated fully with typeorm so we dont have to cast it or use query builder ?**

[2021-06-15 20:46] seawatts commented on #83
I'm actually seeing the same error now in the Postgres version.

[2021-06-16 01:01] seawatts commented on #83
Still seeing this error when used with Postgres. @ArsenyYankovsky

Looking into it now. My first assumption is that you should be able to pass in undefined as a parameter and the query should basically just drop that param. i.e. do not set it to null. However, it seems like the undefined param is getting passed all the way day to the data API lib and then crashes there.

I'm not sure if the driver

[2021-06-19 12:04] ArsenyYankovsky commented on #83
I think we need to check where this behavior is handler when using the "normal" MySQL/Postgres drivers and try to replicate similar behavior.

[2021-06-22 05:24] ghaniev commented on #85
@feroz-shamsi go ahead and contribute, whats problem?

[2021-06-24 06:11] vicary opened #97 "SET data type is not supported"
**Package versions and database engine type (please complete the following information):**
 - Database Engine: [mysql]
 - TypeORM Version: [0.2.32]
 - Driver Version [2.2.0]

**Describe the bug**
MySQL supports SET data type, which I also confirmed with raw DDL in AWS console that it works in Aurora Serverless.

But when I synchronize with a SET column, it throws the following error:

[code]

**To

[2021-06-26 06:07] feroz-shamsi commented on #85
only if I had time or my manager allow me to, I will definitely contribute to this & typeorm so others don't suffer the same.

[2021-06-30 08:14] chadfaurie opened #98 "Transformers not being called in v2.x.x"
**Package versions and database engine type (please complete the following information):**
 - Database Engine:  mysql
 - TypeORM Version: 0.2.34
 - Driver Version: 2.2.0

**Describe the bug**
Column Transformers are not fired at all

**To Reproduce**
place a transformer on a column field

[code]

[2021-06-30 08:15] chadfaurie commented on #98
As extra context, I had to roll back to

[code]

to get this to work again

[2021-07-05 13:23] ghaniev commented on #85
tell your manager if he wants to have a good product he needs to spend resources on open source support

[2021-07-06 05:03] ejaz1977pk commented on #85
@ghaniev Hi Ghaniev

First, thank you for informing about the value for contributions to open source projects as well as the role of ownership, however the underlying question here is pertaining to the possible fix of the issue, if it is part of ay of the release.

If it isn't, the answer is a simple no.

[2021-07-13 08:44] harm-less commented on #81
@ArsenyYankovsky Yes, that's a valid point.
I'll await @seawatts solution, because this hack removal broke our app while it fixed this issue (#85) in a later release for us 😅
I'll make a custom build for the time being.

[2021-07-13 09:00] harm-less commented on #83
For me with version 2.2.0 passing a `null` value does work (param 3):
![image](https://user-images.githubusercontent.com/6368074/125422865-0ac8900b-61ac-4647-8a6f-3efea958239f.png)

So I'm not sure what the issue could be for you @seawatts.

[2021-07-13 09:10] harm-less commented on #81
In case someone has the same issue as I do but wants to have it fixed in the meantime, I've reintroduced the UUID hack into this fork. This is basically version 2.2.0 including the hack:
https://github.com/harm-less/typeorm-aurora-data-api-driver

Be aware, I'll remove this package once a permanent fix is released.

[2021-07-23 18:33] mkhraisha opened #99 "Connecting to local-data-api results in HTTPEndpoint not enabled"
**Package versions and database engine type (please complete the following information):**
 - Database Engine: mysql
 - TypeORM Version: 0.2.34
 - Driver Version: 2.2.0

**Describe the bug**
When connecting to local data api it results in
`HTTPEndPoint not enabled for  arn:aws:rds:us-east-1:1234578123456789012:cluster:dummy `

**To Reproduce**
Please provide the code which reproduces an issue or a

[2021-07-25 15:41] AlexBrandes commented on #81
@ArsenyYankovsky Could you provide an update on the plan for this issue going forward? Will implicit casting always be required for queries involving UUID fields?

I found explicit casting of all UUID fields too cumbersome to maintain because the casting syntax doesn't work with other drivers. Our local tests using postgres driver were failing unless each query was special cased for the test envir

[2021-07-31 00:04] wisaac407 commented on #80
Any updates on this?

[2021-08-06 12:48] jgomes94 opened #101 "Issue with the repository .find"
**Package versions and database engine type (please complete the following information):**
 - Database Engine: mysql
 - TypeORM Version: 0.2.36
 - Driver Version 2.2.0

**Describe the bug**
Hi I'm having an issue with the .find from the getRepository it always returns me no results even though there are results to be shown. I know this is an issue with find because as soon as I try with raw sql pr

[2021-08-11 13:21] ArsenyYankovsky commented on #101
@jgomes94 This seem to have been an issue with a new TypeORM released. Should work with a new 2.2.1 driver. Let me know if it doesn't.

[2021-08-11 13:21] #101 closed

[2021-08-11 22:37] harm-less commented on #81
Awesome @ArsenyYankovsky, I've put it on my todo list 😉

[2021-08-12 12:47] m-yousri commented on #101
Thank you for getting back to us, It was really a nightmare in the last couple of days.

[2021-08-17 11:32] vicary opened #108 "[Discussion] Is region really required?"
Please let me know if this is the right place for general discussions.

I am curious the reason behind the requirement of the `region` option when `resourceArn` has that information embedded already.

Is it required separately by some other components in TypeORM or AWS SDK? If so, what's the implications when specifying a `region` different with the one embedded in `resourceArn`?

[2021-08-25 13:17] LoicMahieu opened #109 "Mysql: enum issue"
**Package versions and database engine type (please complete the following information):**
 - Database Engine: [postgres or mysql] mysql
 - TypeORM Version: [e.g. 0.2.32] 0.2.37
 - Driver Version [e.g. 2.0.6] 2.3.1

**Describe the bug**
When using an enum, MySQL results in syntax error.

**To Reproduce**
- Create a entity, for example User
- Which have an enum field, for example: userType: UserTyp

[2021-09-08 10:22] coyoteecd commented on #109
I am seeing this as well after upgrade to latest typeorm/typeorm-aurora-data-api-driver.

[2021-09-08 11:01] #109 closed

[2021-09-08 11:11] ArsenyYankovsky commented on #109
:tada: This issue has been resolved in version 2.3.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/typeorm-aurora-data-api-driver/v/2.3.2)
- [GitHub release](https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/releases/tag/v2.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::ro

[2021-09-10 09:19] #97 closed

[2021-09-10 09:21] vicary commented on #97
Closing this because the authors don't seem to care, and I can't bother to figure out the relation between this package and the embedded version inside typeorm.

The source code inside typeorm/typeorm does seems to include the `"set"` keyword, but I just ended up not using it for the moment. I may update this issue when I have to use it in the future.

[2021-09-12 12:27] Sharvin26 opened #112 "AlreadyHasActiveConnectionError: Cannot create a new connection named "default", because connection with such name already exist and it now has an active connection session"
**Package versions and database engine type:**
 - Database Engine: Postgres
 - TypeORM Version: 0.2.37
 - Driver Version: 2.3.2

**Describe the bug**
Hello, thank you for creating this amazing driver. It's a lot helpful.

I am refering this [issue](https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/issues/43) for maintaing connection with Aurora Serverless and lambda.

I am using se

[2021-09-29 04:13] chadfaurie commented on #112
You can use ` connection = getConnection();` to return the default connection and check if it already exists

I did this incase it threw and error and works fine in Lambda
[code]

[2021-10-18 21:03] mpvosseller opened #120 "uuid column type differs from one used by the mysql driver"
**Package versions and database engine type (please complete the following information):**
 - Database Engine: [postgres or mysql] **mysql**
 - TypeORM Version: [e.g. 0.2.32] **0.2.38**
 - Driver Version [e.g. 2.0.6] **2.3.4**

**Describe the bug**

When the `typeorm-aurora-data-api-driver` driver is used a `uuid` field maps to a `varchar(36)` column.
But when the `mysql` driver is used a `uuid` f

[2021-10-19 01:48] mpvosseller commented on #120
It appears to be hardcoded differences within the drivers in the TypeORM code.  I'll file an issue there instead.

mysql:
https://github.com/typeorm/typeorm/blob/master/src/driver/mysql/MysqlDriver.ts#L613

aurora-data-api:
https://github.com/typeorm/typeorm/blob/master/src/driver/aurora-data-api/AuroraDataApiDriver.ts#L601

[2021-10-19 02:11] #120 closed, assigned to nobody

[2021-11-02 08:43] qstyler commented on #83
I also faced this issue. At least it would be nice to have some proper error description, like what field goes wrong etc...

[2021-11-29 06:07] vicary opened #121 "bug: preload on bigint primary columns always return undefined"
**Package versions and database engine type (please complete the following information):**
 - Database Engine: [mysql]
 - TypeORM Version: [0.2.41]
 - Driver Version [2.3.1]

**Describe the bug**

For bigint columns, MySQL may cast the value into strings when the value is bigger than `Number.MAX_SAFE_INTEGER`, see https://github.com/typeorm/typeorm/issues/2400.

We ported our existing MySQL entiti

[2021-12-07 07:45] HaaLeo opened #122 "Bug: "Relation [x] does not exist""
**Package versions and database engine type:**
 - Database Engine: postgres
 - TypeORM Version: 0.2.41
 - Driver Version 2.3.4

## Description
When running a query builder select statement a false query

## Steps to Reproduce
1. Create a simple entity `Foo.ts`:
[code]

1. Create and run a typeorm migration to setup the RDS Aurora PostreSql

1. Try to connect to the Aurora and run the query:
[code]

[2021-12-07 09:16] HaaLeo commented on #122
Nevermind! I wrongly set the `database` option of my [`ormconfig.json`](https://github.com/typeorm/typeorm/blob/master/docs/using-ormconfig.md#using-ormconfigjson) to the RDS cluster's "DB name". However, it should be set to `postgres` to work with the default database.

[2021-12-07 09:16] #122 closed

[2021-12-15 16:20] onhate opened #123 "Read array column metadata property while parsing values"
**Package versions and database engine type (please complete the following information):**
 - Database Engine: postgres
 - TypeORM Version: 0.2.38
 - Driver Version 2.3.4

**Describe the bug**
Annotating an array field with for example `@Column({ type: 'integer', array: true })` causes failures both on insert and query because currently the array property is being ignored on reads and writes.

I'l

[2021-12-29 11:20] CorentinDoue commented on #83
I face a similar issue with `"typeorm-aurora-data-api-driver": "2.3.4"` and  `mysql`.

I can't save empty set.
[code]
An empty array `[]` is transformed in empty string `''` by typeorm.
The parameter is `{ value: '' }` which fails this condition https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/blob/c01d226382ff700f7986f75ae3078ef6aa7ce92a/src/query-transformer/mysql-query-transfor

[2022-01-21 08:48] remcoabc opened #127 "Migrations dropping all indexes"
**Package versions and database engine type (please complete the following information):**
 - Database Engine: [mysql]
 - TypeORM Version: [e.g. 0.2.41]
 - Driver Version [e.g. 2.3.4]

**Describe the bug**
When we generate a migration without any changes to the entities it will generate a migration in which all indexes are dropped and created again.

**What result we expect**
We expect a message w

[2022-01-21 10:23] ahubertaircall opened #128 "Error: 'Undefined' string value interpreted as undefined value for entity text field"
**Package versions and database engine type (please complete the following information):**
 - Database Engine: aurora
 - TypeORM Version: 0.2.32
 - Driver Version: 2.1.0

**Describe the bug**

Hello,
When trying to insert the bellow entity using TypeOrmAuroraDataApiDriver and a text string value 'undefined':
[code]
with the following code:
[code]
the execution fails.
Indeed the aurora data api is

[2022-01-28 13:34] robbertstevens commented on #127
@ArsenyYankovsky Do you know if this is a known issue?

[2022-02-08 08:28] #98 closed

[2022-02-08 10:01] chadfaurie opened #129 "MysqlQueryTransformer.prepareHydratedValue does not convert boolean or decimal"
**Package versions and database engine type (please complete the following information):**
 - Mysql
 - TypeORM Version: 0.2.41
 - Driver Version: 2.3.5

**Describe the bug**
The MysqlQueryTransformer.prepareHydratedValue does not convert field of type `boolean` instead looks for a constructor of `Boolean`
Also does not convert decimal from string to a number

**To Reproduce**

[code]

Calling this

[2022-02-22 16:31] calvin-summer opened #131 "enableUuidHack required for query `relations` to load when relation keys are uuids"
**Package versions and database engine type (please complete the following information):**
 - Database Engine: postgres
 - TypeORM Version: 0.2.41
 - Driver Version: 2.3.5

**Describe the bug**
When you have a repository query that uses the `relation` option to load related entities where the relation relies on a uuid field, the query will fail unless `enableUuidHack` is set to `true`

You'll get

[2022-03-09 20:18] davingreen commented on #74
Hi @tgechev,

Running latest updates, I was able to change the types back to Date. You can then use a JS Date object (instead of `new Date().toISOString()`, just `new Date()`.

I've found that the `TypeError: date.getUTCFullYear is not a function` typically occurs when TypeORM is expecting a Date object, but receiving a string.

Hope that helps!

[2022-03-29 06:30] dpecos opened #133 "Incorrect generated value for empty 'simple-array' attributes in aurora / postgres"
Having an attribute of type 'simple-array' like:
[code]

And setting its value to empty array:
[code]

Generates the following parameter value:
[code]

while it should be:
[code]

Using this transformer for the `simple-array` fields fixed the issue:
[code]

I'm pretty sure this issue is similar to this one fixed in this PR: https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/pull/125

[2022-04-03 16:46] ArsenyYankovsky commented on #133
Fixed in https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/pull/134

[2022-04-03 16:46] #133 closed

[2022-04-03 16:48] ArsenyYankovsky commented on #133
@all-contributors please add @dpecos for contributing code and bug reports.

[2022-04-05 19:35] kevin-mitchell opened #140 "When `cascade` option is specified, nested entities can cause normalizeParams to fail with "Cannot convert undefined or null to object""
**Package versions and database engine type (please complete the following information):**
 - Database Engine: postgres
 - TypeORM Version: ^0.2.42
 - Driver Version ^2.3.8

**Describe the bug**

When a "parent" entity is saved that has a related entity (e.g. `@ManyToOne` / `@OneToMany`) where the relationship is defined in TypeORM with `cascade: true`, the "cascade" happens and the child entity i

[2022-04-06 18:19] calvin-summer opened #141 "generatedMaps for timestamps are being returned as string not Date"
**Package versions and database engine type (please complete the following information):**
 - Database Engine: postgres
 - TypeORM Version: 0.2.41
 - Driver Version 2.3.8

**Describe the bug**
When I do an insert for an entity with a generated date (timestamp) field like `createdAt` or `updatedAt`, the value in the resultant `generatedMaps` is a string, not a `Date`.
I would expect a Date object,

[2022-04-07 14:47] calvin-summer commented on #141
opened a pr in the data-api-client repo to fix https://github.com/jeremydaly/data-api-client/pull/117

[2022-04-09 15:32] ArsenyYankovsky commented on #141
Thanks for your contribution!
Reading about your findings it looks like the best would be to fix it in the data-api-client.
Let's keep this open until the PR is merged so we can upgrade to the fixed data-api-client version when it's released.

[2022-04-12 09:18] nskarakoc opened #143 "Upgrade data-api-client to 1.3.0"
Package `data-api-client` has released `1.3.0` version 6 days ago. It has some fixes that we need to use. When do you plan to upgrade `data-api-client` from `1.2.0` to `1.3.0`?

https://github.com/jeremydaly/data-api-client/releases/tag/v1.3.0

[2022-04-12 20:16] ArsenyYankovsky commented on #143
Fixed in 2.4.2. Feel free to submit a PR next time.

[2022-04-12 20:16] #143 closed

[2022-04-13 12:39] HaaLeo commented on #123
I could get a string array working by using `@Column('simple-array')`. However, I do not know whether this approach would also work for integer arrays.

[2022-04-19 18:12] ArgentumToivo opened #145 "Uuid type casts"
**Package versions and database engine type (please complete the following information):**
 - Database Engine: [postgres]
 - TypeORM Version: [e.g. 0.3.6]
 - Driver Version [e.g. 2.4.2]

**Describe the bug**
ERROR: operator does not exist: character varying = uuid

An error occurs if you generate a variable using the uuid library and use it in a query, in a field of type character varying. I think

[2022-05-12 15:27] kujtimiihoxha commented on #127
@robbertstevens @ArsenyYankovsky I am seeing the same issue was wondering if this is a typeorm issue or a driver issue?

[2022-05-15 16:27] anton-nagornyi commented on #21
I am also facing a sync issue with the serverless aurora postgres. Synchronize with dropBeforeSync === true works fine. If it is false, it tries to create tables again and fails because they already exist.

[2022-05-17 13:52] ViniciussSantos commented on #80
I'm still having this problem, any updates or workarounds ?

[2022-06-02 23:15] sandysound commented on #127
I'm seeing the same issue with this driver.
If I run a local mysql 5.7 docker container then use the mysql driver and run the migration generation pointing to this then the migrations are generated correctly.
We're on typeorm 0.2.38 and typeorm-aurora-data-api-driver 2.3.4 but I did some testing with the latest versions and this issue still exists.
If I get a bit more time I'll do some more testin

[2022-06-04 09:05] mrvisser commented on #21
I'm also facing this issue when not using `dropBeforeSync`.

[2022-06-30 06:23] air2 opened #148 "AWS SDK v3 support"
Hello is there any plan to migrate to AWS SDK v3?
I saw already a fork created by @Almaju, which uses SDK v3.

If there is a plan to move to SDK v3, what would be the expected timeframe?

[2022-07-07 13:15] pablozandona opened #149 "[Question] Is compatible with Aurora Serverless v2 ?"
Is compatible with Aurora Serverless v2 using Postgresql?

[2022-07-21 10:04] #82 closed

[2022-08-11 09:53] antesberger opened #152 "TypeError: date.getUTCFullYear is not a function for CreateDateColumn, UpdateDateColumn and DeleteDateColumn"
**Package versions and database engine type (please complete the following information):**
 - Database Engine: postgres
 - TypeORM Version: 0.3.7
 - Driver Version: 2.4.2

**Describe the bug**
When creating an Entity using CreateDateColumn, UpdateDateColumn or DeleteDateColumn a `TypeError: date.getUTCFullYear is not a function`

**To Reproduce**
Create an Entity like this
[code]

and try to save

[2022-10-03 11:06] nxzz opened #153 "transformer from is not called."
**Package versions and database engine type (please complete the following information):**
 - Database Engine: mysql
 - TypeORM Version: 0.3.9
 - Driver Version 2.4.4

**Describe the bug**
`@Column`  transformer from  is not called.

**To Reproduce**
https://github.com/nxzz/typeorm-aurora-data-api-driver-transform-issue
When I run the code in this repository, `transformer from` is not displayed as

[2022-10-14 08:24] CorentinDoue commented on #153
I reproduced this too. If it can help, we constated that the `from` transformer is called when the value is `null`. It's not very useful.

[2022-10-17 12:28] nxzz commented on #153
I can't create a PR because I don't have time who write test code , but I got it to work with this patch.
https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/compare/master...nxzz:typeorm-aurora-data-api-driver:master#diff-16226b3f7ac28247a0d19adda562aa4fa0fe3aa25dcd1edef430e84d286226eb

[2022-11-04 19:16] juangomez-alation commented on #149
Also wondering the same

[2022-11-29 10:22] KennethWussmann commented on #148
The driver is incompatible with Node 18 on AWS Lambda out-of-the-box now, because the Node 18 runtime only bundles with AWS SDK v3.

As the package also [doesn't bundle the aws-sdk](https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/blob/master/rollup.config.ts#L19), one would have to install the old aws-sdk v2 themselves and bundle it with the lambda code.

I'd love to see the pack

[2022-11-30 15:36] varsha-teckchandani commented on #145
Hello.
Were you every able to resolve this issue?